---
name: Publish

on:
  push:
    branches: [master]
    tags:
      - v*

jobs:
  docker:
    if: ${{ github.repository_owner == 'pascalre' }}
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v5

      - name: Setup Ruby
        uses: ruby/setup-ruby@v1
        with:
          ruby-version: head

      - name: Install github-changelog-generator
        run: gem install github_changelog_generator

      - name: Generate changelog
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
        run: github_changelog_generator --user pascalre --project solace-prometheus-exporter

      - name: Commit changelog
        run: |
          git config user.name "github-actions"
          git config user.email "github-actions@github.com"
          git add CHANGELOG.md
          git diff --quiet && echo "No changes in changelog" || (git commit -m "docs: update changelog" && git push)

      - name: Docker meta
        id: meta
        uses: crazy-max/ghaction-docker-meta@v5
        with:
          images: solacecommunity/solace-prometheus-exporter
          tags: |
            type=raw,value=latest,enable=${{ endsWith(GitHub.ref, 'master') }}
            type=raw,value=testing,enable=${{ contains(GitHub.head_ref, 'feature') }}
            type=ref,event=tag
          flavor: |

      - name: Login to DockerHub
        uses: docker/login-action@v3
        with:
          username: ${{ secrets.DOCKERHUB_USERNAME }}
          password: ${{ secrets.DOCKERHUB_TOKEN }}

      - name: Build and push Docker images
        uses: docker/build-push-action@v6.18.0
        with:
          push: ${{ GitHub.event_name != 'pull_request' || contains(GitHub.head_ref, 'feature') }}
          tags: ${{ steps.meta.outputs.tags }}
