<!DOCTYPE html>

<html lang="en">

<head>
  <title>Solace Exporter</title>
</head>

<body>
  <h1>Solace Exporter</h1>
  <ul style="list-style: none;">
    <li>
      <a href='/metrics'>Exporter Metrics</a>
    </li>
    {{ range .Endpoints -}}
    <li>
      <a href="/{{ .Path }}">Custom Exporter {{ .Path }} -> {{ .Meta }}</a>
    </li>
    {{- end -}}
    <li><a href='/solace?m.ClientStats=*|*&m.VpnStats=*|*&m.BridgeStats=*|*&m.QueueRates=*|*'>Solace Broker</a>
      <br>
      <p>Configure the data you want ot receive, via HTTP GET parameters.
        <br>Please use in format &quot;m.ClientStats=*|*&m.VpnStats=*|*&quot;
        <br>Here is &quot;m.&quot; the prefix.
        <br>Here is &quot;ClientStats&quot; the scrape target.
        <br>The first asterisk the VPN filter and the second asterisk the item filter.
        Not all scrape targets support filter.
        <br>Scrape targets:<br>
      <table>
        <tr>
          <th>scrape target</th>
          <th>vpn filter supports</th>
          <th>item filter supported</th>
          <th>metrics filter supported</th>
          <th>performance</th>
          </tr>
        <tr>
        {{ if .IsHWBroker -}}
        <tr>
          <td>Alarm</td>
          <td>no</td>
          <td>no</td>
          <td>no</td>
          <td>dont harm broker</td>
        </tr>
        {{- end -}}
        <tr>
          <td>Bridge</td>
          <td>yes</td>
          <td>yes</td>
          <td>no</td>
          <td>dont harm broker</td>
        </tr>
        <tr>
          <td>BridgeDetail</td>
          <td>yes</td>
          <td>yes</td>
          <td>no</td>
          <td>may harm broker if many bridges</td>
        </tr>
        <tr>
          <td>BridgeRemote</td>
          <td>yes</td>
          <td>yes</td>
          <td>no</td>
          <td>dont harm broker</td>
        </tr>
        <tr>
          <td>BridgeStats</td>
          <td>yes</td>
          <td>yes</td>
          <td>no</td>
          <td>has a very small performance down site</td>
        </tr>
        <tr>
          <td>Client</td>
          <td>yes</td>
          <td>yes</td>
          <td>no</td>
          <td>may harm broker if many clients</td>
        </tr>
        <tr>
          <td>ClientConnections</td>
          <td>yes</td>
          <td>no</td>
          <td>no</td>
          <td>may harm broker if many clients</td>
        </tr>
        <tr>
          <td>ClientMessageSpoolEgress</td>
          <td>no</td>
          <td>yes</td>
          <td>no</td>
          <td>may harm broker if many clients</td>
        </tr>
        <tr>
          <td>ClientMessageSpoolStats</td>
          <td>no</td>
          <td>yes</td>
          <td>no</td>
          <td>may harm broker if many clients</td>
        </tr>
        <tr>
          <td>ClientProfile</td>
          <td>yes</td>
          <td>no</td>
          <td>no</td>
          <td>dont harm broker</td>
        </tr>
        <tr>
          <td>ClientSlowSubscriber</td>
          <td>yes</td>
          <td>yes</td>
          <td>no</td>
          <td>may harm broker if many clients but less expensive than `ClientStats`</td>
        </tr>
        <tr>
          <td>ClientStats</td>
          <td>no</td>
          <td>no</td>
          <td>no</td>
          <td>may harm broker if many clients</td>
        </tr>
        {{ if .IsHWBroker -}}
        <tr>
          <td>ClockDetail</td>
          <td>no</td>
          <td>no</td>
          <td>no</td>
          <td>dont harm broker</td>
        </tr>
        {{- end -}}
        <tr>
          <td>ClusterLinks</td>
          <td>no</td>
          <td>yes</td>
          <td>no</td>
          <td>dont harm broker</td>
        </tr>
        <tr>
          <td>ConfigSync (only for HA broker)</td>
          <td>no</td>
          <td>no</td>
          <td>no</td>
          <td>dont harm broker</td>
        </tr>
        <tr>
          <td>ConfigSyncRouter (only for HA broker)</td>
          <td>no</td>
          <td>no</td>
          <td>no</td>
          <td>dont harm broker</td>
        </tr>
        <tr>
          <td>ConfigSyncVpn (only for HA broker)</td>
          <td>yes</td>
          <td>no</td>
          <td>no</td>
          <td>dont harm broker</td>
        </tr>
        {{ if .IsHWBroker -}}
        <tr>
          <td>Disk</td>
          <td>no</td>
          <td>no</td>
          <td>no</td>
          <td>dont harm broker</td>
        </tr>
        <tr>
          <td>Environment</td>
          <td>yes</td>
          <td>no</td>
          <td>no</td>
          <td>dont harm broker</td>
        </tr>
        {{- end -}}
        <tr>
          <td>GlobalStats</td>
          <td>no</td>
          <td>no</td>
          <td>no</td>
          <td>dont harm broker</td>
        </tr>
        <tr>
          <td>GlobalSystemInfo</td>
          <td>no</td>
          <td>no</td>
          <td>no</td>
          <td>dont harm broker</td>
        </tr>
        {{ if .IsHWBroker -}}
        <tr>
          <td>Hardware</td>
          <td>no</td>
          <td>no</td>
          <td>no</td>
          <td>dont harm broker</td>
        </tr>
        {{- end -}}
        {{ if not .IsHWBroker -}}
        <tr>
          <td>Health</td>
          <td>no</td>
          <td>no</td>
          <td>no</td>
          <td>dont harm broker</td>
        </tr>
        {{- end -}}
        <tr>
          <td>Interface</td>
          <td>no</td>
          <td>yes</td>
          <td>no</td>
          <td>dont harm broker</td>
        </tr>
        {{ if .IsHWBroker -}}
        <tr>
          <td>InterfaceHW</td>
          <td>no</td>
          <td>yes</td>
          <td>no</td>
          <td>dont harm broker</td>
        </tr>
        {{- end -}}
        <tr>
          <td>Memory</td>
          <td>no</td>
          <td>no</td>
          <td>no</td>
          <td>dont harm broker</td>
        </tr>
        <tr>
          <td>MqttSession</td>
          <td>yes</td>
          <td>yes</td>
          <td>no</td>
          <td>may harm broker if many mqtt sessions</td>
        </tr>
        <tr>
          <td>QueueDetails</td>
          <td>yes</td>
          <td>yes</td>
          <td>no</td>
          <td>may harm broker if many queues</td>
        </tr>
        <tr>
          <td>QueueRates</td>
          <td>yes</td>
          <td>yes</td>
          <td>no</td>
          <td>DEPRECATED: may harm broker if many queues</td>
        </tr>
        <tr>
          <td>QueueStats</td>
          <td>yes</td>
          <td>yes</td>
          <td>no</td>
          <td>may harm broker if many queues</td>
        </tr>
        <tr>
          <td>QueueStatsV2</td>
          <td>yes</td>
          <td>yes</td>
          <td>yes</td>
          <td>may harm broker if many queues</td>
        </tr>
        {{ if .IsHWBroker -}}
        <tr>
          <td>Raid</td>
          <td>no</td>
          <td>no</td>
          <td>no</td>
          <td>dont harm broker</td>
        </tr>
        {{- end -}}
        <tr>
          <td>RDP/ Rest Consumers</td>
          <td>yes</td>
          <td>yes</td>
          <td>no</td>
          <td>may harm broker if many REST consumers</td>
        </tr>
        <tr>
          <td>Redundancy (only for HA broker)</td>
          <td>no</td>
          <td>no</td>
          <td>no</td>
          <td>dont harm broker</td>
        </tr>
        <tr>
          <td>Replication (only for DR broker)</td>
          <td>no</td>
          <td>no</td>
          <td>no</td>
          <td>dont harm broker</td>
        </tr>
        <tr>
          <td>Spool</td>
          <td>no</td>
          <td>no</td>
          <td>no</td>
          <td>dont harm broker</td>
        </tr>
        {{ if not .IsHWBroker -}}
        <tr>
          <td>StorageElement</td>
          <td>no</td>
          <td>yes</td>
          <td>no</td>
          <td>dont harm broker</td>
        </tr>
        {{- end -}}
        <tr>
          <td>TopicEndpointDetails</td>
          <td>yes</td>
          <td>yes</td>
          <td>no</td>
          <td>may harm broker if many topic-endpoints</td>
        </tr>
        <tr>
          <td>TopicEndpointRates</td>
          <td>yes</td>
          <td>yes</td>
          <td>no</td>
          <td>DEPRECATED: may harm broker if many topic-endpoints</td>
        </tr>
        <tr>
          <td>TopicEndpointStats</td>
          <td>yes</td>
          <td>yes</td>
          <td>no</td>
          <td>may harm broker if many topic-endpoint</td>
        </tr>
        <tr>
          <td>Version</td>
          <td>no</td>
          <td>no</td>
          <td>no</td>
          <td>dont harm broker</td>
        </tr>
        <tr>
          <td>Vpn</td>
          <td>yes</td>
          <td>no</td>
          <td>no</td>
          <td>dont harm broker</td>
        </tr>
        <tr>
          <td>VpnReplication</td>
          <td>yes</td>
          <td>no</td>
          <td>no</td>
          <td>dont harm broker</td>
        </tr>
        <tr>
          <td>VpnSpool</td>
          <td>yes</td>
          <td>no</td>
          <td>no</td>
          <td>dont harm broker</td>
        </tr>
        <tr>
          <td>VpnStats</td>
          <td>yes</td>
          <td>no</td>
          <td>no</td>
          <td>has a very small performance down site</td>
        </tr>
      </table>
      <br>
      </p>
    </li>
    <ul>
</body>

</html>